<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Advanced product list</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<table id="category-menu" border="1" align="center">
  <tr>
    <td th:each="category : ${categories}">
      <a th:href="@{/advanced/products/{category}(category=${category.title})}">
        <b th:text="${category.title}"></b>
      </a>
    </td>
    <td sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER')">
      <a th:href="@{/advanced/products/category/new}">
        Add new category
      </a>
    </td>
  </tr>
</table>

</body>
</html>