<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Advanced product list</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<div th:insert="~{fragments/categories :: #category-menu}"></div>

<table border="1" align="center" >
    <tr>
        <td>
            Title
        </td>
        <td>
            Price
        </td>
        <td></td>
        <td colspan="2" sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER')"></td>
        <td></td>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.title}">Test</td>
        <td th:text="${product.price}">9999999</td>
        <td colspan="4">
            <a th:href="@{/products/{id}/bucket(id=${product.id})}">Add to bucket</a>
        </td>
        <td sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER')">
            <a th:href="@{/products/{id}/remove(id=${product.id})}">Remove</a>
        </td>
    </tr>
    <tr sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER')">
        <td colspan="5">
            <a th:href="@{/products/new}">Add new product</a>
        </td>
    </tr>
</table>

</body>
</html>