<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bucket</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<h2>You Bucket</h2>
<h3>All sum: <b th:text="${bucket.sum}">0</b></h3>

<table border="1" align="center">
    <tr>
        <td>Title</td>
        <td>Amount</td>
        <td>Price</td>
        <td>Sum</td>
        <td></td>
    </tr>
    <tr th:each="detail : ${bucket.bucketDetails}">
        <td th:text="${detail.title}"></td>
        <td>
            <table>
                <tr>
                    <td><a th:href="@{/my/bucket/{id}/increase(id=${detail.productId})}">+</a></td>
                    <td><b th:text="${detail.amount}"></b></td>
                    <td><a th:href="@{/my/bucket/{id}/decrease(id=${detail.productId})}">-</a></td>
                </tr>
            </table>
        </td>
        <td th:text="${detail.price}"></td>
        <td th:text="${detail.sum}"></td>
        <td><a th:href="@{/my/bucket/{id}/remove(id=${detail.productId})}">Remove</a></td>
    </tr>
    <tr>
        <td align="center" colspan="5">
            <a th:href="@{/my/bucket/clear}">Clear bucket</a>
        </td>
    </tr>
    <tr>
        <td align="center" colspan="5">
            <a th:href="@{/order/new}">Create an order</a>
        </td>
    </tr>
</table>
</body>
</html>