<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Login page</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<p th:if="${loginError}" class="error">Wrong user or password</p>
<p th:if="${message}" th:text="${message}"></p>
  <form th:action="@{/authentication}" method="post">
    <table border ='1'>
      <tr>
        <td>Name</td>
        <td>
          <input type="text" th:name="username" name="username">
        </td>
      </tr>
      <tr>
        <td>Password</td>
        <td>
          <input type="password"  th:name="password"  name="password">
        </td>
      </tr>
      <tr>
        <td>Remember Me:</td>
        <td><input type="checkbox" name="remember-me" /></td>
      </tr>
    </table>
  <button type="submit">Log in</button>
  </form>
</body>
</html>