<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Order Details</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
    <table border="1" align="center">
        <tr>
            <td>Number</td>
            <td>Address</td>
            <td>Created</td>
            <td>Updated</td>
            <td>Status</td>
            <td>Sum</td>
        </tr>
        <tr>
            <td th:text="${order.id}"></td>
            <td th:text="${order.address}"></td>
            <td th:text="${order.created}"></td>
            <td th:text="${order.updated}"></td>
            <td th:text="${order.status}"></td>
            <td th:text="${order.sum}"></td>
        </tr>
    </table>
    <table border="1" align="center">
        <tr>
            <td>
                Title
            </td>
            <td>
                Amount
            </td>
            <td>
                Price
            </td>
        </tr>
        <tr th:each="detail : ${details}">
            <td>
                <a th:href="@{/product/{title}/(title=${detail.productName})}"
                   th:text="${detail.productName}"></a>
            </td>
            <td th:text="${detail.amount}">amount</td>
            <td th:text="${detail.price}">9999999</td>
        </tr>
    </table>
</body>
</html>