<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Order Details</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{../assets/css/style.css}" rel="stylesheet">
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
    <table border="1" align="center" th:if="${order != null}">
        <tr>
            <td>Number</td>
            <td>Address</td>
            <td>Created</td>
            <td>Updated</td>
            <td>Status</td>
            <td>Sum</td>
        </tr>
        <tr>
            <td th:text="${order.id}"></td>
            <td th:text="${order.address}"></td>
            <td th:text="${order.created}"></td>
            <td th:text="${order.updated}"></td>
            <td th:text="${order.status}"></td>
            <td th:text="${order.sum}"></td>
        </tr>
    </table>
    <table border="1" align="center">
        <tr>
            <td>
                Title
            </td>
            <td>
                Amount
            </td>
            <td>
                Price
            </td>
        </tr>
        <tr th:each="detail : ${details}">
            <td>
                <a th:href="@{/product/{title}/(title=${detail.productName})}"
                   th:text="${detail.productName}"></a>
            </td>
            <td th:text="${detail.amount}">amount</td>
            <td th:text="${detail.price}">9999999</td>
        </tr>
    </table>
<table th:unless="${order != null}">
    <tr>
        <td th:text="${message}">

        </td>
    </tr>
</table>
</body>
</html>