<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit users order</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<form th:action="@{/order/orders/admin}" th:object="${orderDTO}" method="post">
    <table border="1" align="center">
        <tr>
            <td>Number</td>
            <td>Address</td>
            <td>Created</td>
            <td>Updated</td>
            <td>Status</td>
            <td>Sum</td>
        </tr>
        <tr>
            <td th:text="*{id}"></td>
            <td th:text="*{address}"></td>
            <td th:text="*{created}"></td>
            <td th:text="*{updated}"></td>
            <td th:text="*{status}"></td>
            <td>
                <select  th:name="status" id="status" name="status">
                    <option th:each="stat : ${status}"
                            th:text="${stat}"
                            th:value="${stat}"
                            th:selected="${stat==orderDTO.status}"
                    >
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="6" align="center">
                <button type="submit">Save</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>