<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Product details</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<form th:action="@{/admin/product/edit/{name}(name=${product.title})}" th:object="${product}" method="post">
    <table border="1" align="center">
        <tr>
            <td>
                Title
            </td>
            <td>
                Image
            </td>
            <td>
                Description
            </td>
            <td>
                Price
            </td>
            <td colspan="2" sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER')"></td>
            <td colspan="2" sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER')"></td>

        </tr>
        <tr>
            <td th:text="${product.title}">Test</td>
            <td th:text="${product.image}">img</td>
            <td th:text="${product.description}">description</td>
            <td th:text="${product.price}">9999999</td>

            <td colspan="4">
                <a th:href="@{/product/{id}/bucket(id=${product.id})}">Add to bucket</a>
            </td>
            <td sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER')">
                <a th:href="@{/admin/product/edit/{name}(name=${product.title})}">Edit</a>
            </td>
        </tr>
    </table>
    <table border="1" align="center">
        <tr>
            <td>User name</td>
            <td>Review</td>
            <td>Stars</td>
        </tr>
        <tr th:each="review : ${reviews}">
            <td th:text="${review.userName}"></td>
            <td th:text="${review.review}"></td>
            <td th:text="${review.stars}"></td>
        </tr>
    </table>
</form>
<form th:action="@{/review/new/{id}(id=${product.id})}" th:object="${review}" method="get">
    <table border ='1'>
        <tr>
            <td>Review</td>
            <td>
                <input type="text" th:field="*{review}">
            </td>
        </tr>
        <tr>
            <td>Stars</td>
            <td>
                <input type="number" max="5" th:field="*{stars}">
            </td>
        </tr>
    </table>
    <button type="submit">Save</button>
</form>
</body>
</html>