<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Advanced product list</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<div th:insert="~{fragments/categories :: #category-menu}"></div>
<table th:unless="${message != null}">
    <tr>
        <td th:text="${message}">
        </td>
    </tr>
</table>

<table border="1" align="center">
    <tr>
        <td>
            Title
        </td>
        <td>
            Image
        </td>
        <td>
            Price
        </td>
        <td colspan="2" sec:authorize="isAuthenticated()"></td>
        <td sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER')"></td>
    </tr>
    <tr th:unless="${#lists.isEmpty(products)}" th:each="p,itemStat : ${products}">
        <td>
            <a th:href="@{/product/{title}(title=${p.title})}" th:text="${p.title}"></a>
        </td>
        <td th:if="${p.image != null}">
            <img th:src="@{${p.image}}">
        </td>
        <td th:if="${discounts[__${itemStat.index}__].discount_price > 0.0}">
            <span>
               <s>[[${p.price}]]</s><br>
                [[${discounts[__${itemStat.index}__].discount_price}]]
            </span>
        </td>
        <td th:unless="${discounts[__${itemStat.index}__].discount_price > 0.0}" th:text="${p.price}"></td>
        <td colspan="4">
            <a th:href="@{/product/{id}/bucket(id=${p.id})}">Add to bucket</a>
        </td>
        <td sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER')">
            <a th:href="@{/admin/product/{id}/remove(id=${p.id})}">Remove</a>
        </td>
    </tr>
    <tr sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER')">
        <td colspan="5">
            <a th:href="@{/admin/product/new}">Add new product</a>
        </td>
    </tr>
</table>

</body>
</html>