<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Statistics</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<div th:insert="~{fragments/productsStatistics :: #products-statistic-menu}"></div>

<table border="1" align="center">
    <tr>
        <td colspan="2">
            Visit statistics
        </td>
    </tr>
    <tr th:each="v: ${visitStatsMap}">
        <td th:text="${v.key}"></td>
        <td th:text="${v.value}"></td>
    </tr>
</table>

<table border="1" align="center">
    <tr>
        <td colspan="2">
            Frequency add to cart statistics
        </td>
    </tr>
    <tr th:each="f: ${frequencyAddToCartStatsMap}">
        <td th:text="${f.key}"></td>
        <td th:text="${f.value}"></td>
    </tr>
</table>

<table border="1" align="center">
    <tr>
        <td colspan="3">
            Shopping frequency statistics
        </td>
    </tr>
    <tr th:each="b: ${buyStatsMap}">
        <td th:text="${b.key}"></td>
        <td th:text="${b.value}"></td>
    </tr>
</table>

</body>
</html>