<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Statistics</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<div th:insert="~{fragments/productsStatistics :: #products-statistic-menu}"></div>
<div id="linechart_material1" style="width: 900px; height: 500px"></div>
</body>
<script type="text/javascript">
    google.charts.load('current', {'packages': ['line']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        let arr1 = getData1();

        var data1 = new google.visualization.DataTable();
        data1.addColumn('string', 'Mount');
        data1.addColumn('number', 'Visit stats');

        for (var i = 0; i <= arr1.length - 1; i++) {
            data1.addRows([arr1[i]]);
        }

        visitTest
        var options1 = {
            chart: {
                title: 'Visit stats',
            },
            width: 900,
            height: 500,
            colors: "blue"
        };
        var chart1 = new google.charts.Line(document.getElementById('linechart_material1'));
        chart1.draw(data1, google.charts.Line.convertOptions(options1));

    }

    function getData1() {
        // var json1 = "[[${visitStatsMap}]]";
        // var temp = JSON.parse(json1.replace(/&quot;/g, '"'));
//{
// "Meat1":{"2022-02-10T06:14":2,"2022-02-11T06:14":3,"2022-02-12T06:14":4,"2022-02-13T06:14":2,"2022-02-14T06:14":3}
// "Meat2":{"2022-02-10T06:14":2,"2022-02-11T06:14":3,"2022-02-12T06:14":4,"2022-02-13T06:14":2,"2022-02-14T06:14":3}
// }
        var json2 = "[[${visitTest}]]"
        console.log(json2);
        var temp2 = JSON.parse(json2.replace(/&quot;/g, '"'));
        console.log(temp2);

        let arr1 = [];

        for (var key in temp2) {
            let keys = new ArrayList<String>(temp2[key].keySet());
            for (let i = 0; i<=keys .size(); i++){
                arr1.push([key], [key, temp2[key]]);
            }
        }

        return arr1;
    }

</script>
</html>