<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Statistics</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{../assets/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card mt-2 mx-auto px-auto mb-4 box-shadow">
                <div class="card-body">
                    <h3 align="center">Visit statistics</h3>
                    <div id="linechart_material1" style="width: 900px; height: 500px"></div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card mt-2 mx-auto px-auto mb-4 box-shadow">
                <div class="card-body">
                    <h3 align="center">Buy statistics</h3>
                    <div id="linechart_material2" style="width: 900px; height: 500px"></div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card mt-2 mx-auto px-auto mb-4 box-shadow">
                <div class="card-body">
                    <h3 align="center">Frequency of adding items to the cart</h3>
                    <div id="linechart_material3" style="width: 900px; height: 500px"></div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript">
    google.charts.load('current', {'packages': ['line']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        let visitStatsJson = "[[${visitStatsJson}]]";

        if (!isEmpty(visitStatsJson)) {
            let visitStatsData = getData(visitStatsJson);
            let visitStatsOption = {
                width: 900,
                height: 500,
                colors: "blue"
            };
            let chart1 = new google.charts.Line(document.getElementById('linechart_material1'));
            chart1.draw(visitStatsData, google.charts.Line.convertOptions(visitStatsOption));
        } else {
            document.getElementById("linechart_material1").innerHTML = "Visit stats is empty";
        }


        let buyStatsJson = "[[${buyStatsJson}]]";
        if (!isEmpty(buyStatsJson)) {
            let buyStatsData = getData(buyStatsJson);
            let buyStatsOption = {
                width: 900,
                height: 500,
                colors: "blue"
            };
            let chart2 = new google.charts.Line(document.getElementById('linechart_material2'));
            chart2.draw(buyStatsData, google.charts.Line.convertOptions(buyStatsOption));

        } else {
            document.getElementById("linechart_material2").innerHTML = "Buy stats is empty";
        }

        let frequencyStatsJson = "[[${frequencyStatsJson}]]";
        if (!isEmpty(frequencyStatsJson)) {
            let frequencyStatsData = getData(frequencyStatsJson);
            let frequencyStatsOption = {
                width: 900,
                height: 500,
                colors: "blue"
            };

            let chart3 = new google.charts.Line(document.getElementById('linechart_material3'));
            chart3.draw(frequencyStatsData, google.charts.Line.convertOptions(frequencyStatsOption));
        } else {
            document.getElementById("linechart_material3").innerHTML = "Frequency add to bucket stats is empty";
        }


    }

    function getData(json) {
        var temp2 = JSON.parse(json.replace(/&quot;/g, '"'));
        var data1 = new google.visualization.DataTable();

        let productJson = "[[${productsTitle}]]";
        var products = JSON.parse(productJson.replace(/&quot;/g, '"'));
        data1.addColumn('string', 'Date');

        for (let p in products) {
            data1.addColumn('number', products[p]);
        }
        let korka = []
        for (var k in temp2) {
            let arr = [];
            arr.push(k);
            for (var t in temp2[k]) {
                arr.push(temp2[k][t])
            }
            korka.push(arr);
            data1.addRows(korka);
        }
        return data1;
    }

    function isEmpty(str) {
        if (str.trim() == "{}")
            return true;

        return false;
    }
</script>
</html>