#element {
    overflow-y: scroll;
    background-color: #ffffff;
    width: 200px;
    height: 200px;
}

.overflow {
    min-height: 400px;
}
#element::-webkit-scrollbar {
    width: 10px;
}

#element::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
}

#element::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #00c6fb, #005bea);
}
a {
    text-decoration: none;
}
.align-center{
    margin-left: auto;
    margin-right: auto;
}